.set-token-area {
	border-top: 2px solid var(--color-border);
	width: fit-content;
	padding: 1.5rem 1rem 1.5rem 1rem;
	margin: 2rem 0 1.5rem 0;
	border-radius: 2px;
}

input[type='text'],
select {
	vertical-align: top;
}

.Home label {
	margin-bottom: 1rem;
}

.Home input {
	margin-bottom: 1.5rem;
}
/* Add a class to style medium-sized buttons */
.button-medium {
	font-size: 1.2em; /* Adjust font size to make it medium-sized */
	padding: 0.5rem 1rem; /* Adjust padding to make it medium-sized */
}
