.ListItem {
	display: grid;
	grid-template-columns: 1fr fit-content(20%);
	align-items: center;
	font-size: 1em;
	list-style: none;
	padding: 3px;
	border-radius: 2px;

	/* color variables */
	--overdue: hsl(0, 74%, 65%);
	--soon: hsl(39, 100%, 50%);
	--kind-of-soon: hsl(60, 100%, 50%);
	--not-soon: hsl(174, 72%, 56%);
	--inactive: hsl(300, 24%, 80%);

	/* opacity variables */
	--overdue-bg: hsla(var(--contrast-hsl-vals), 0.95);
	--soon-bg: hsla(var(--contrast-hsl-vals), 0.75);
	--kind-of-soon-bg: hsla(var(--contrast-hsl-vals), 0.5);
	--not-soon-bg: hsla(var(--contrast-hsl-vals), 0.25);
	--inactive-bg: hsla(var(--contrast-hsl-vals), 0.1);
}

label {
	display: inherit;
	align-items: inherit;
	grid-template-columns: fit-content(20%) 1fr 1fr;
	gap: 2%;
}

@media screen and (prefers-color-scheme: light) {
	.ListItem {
		/* color variables */
		--overdue: rgb(232, 99, 99);
		--soon: rgb(230, 115, 0);
		--kind-of-soon: rgb(129, 170, 9);
		--not-soon: rgb(5, 148, 161);
		--inactive: rgb(97, 90, 115);
	}
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.indicator-soon {
	/* color: var(--soon); */
	background-color: var(--soon-bg);
}

.indicator-kind-of-soon {
	/* color: var(--kind-of-soon); */
	background-color: var(--kind-of-soon-bg);
}

.indicator-not-soon {
	/* color: var(--not-soon); */
	background-color: var(--not-soon-bg);
}

.indicator-inactive {
	/* color: var(--inactive); */
	background-color: var(--inactive-bg);
}

.indicator-overdue {
	/* color: var(--overdue); */
	background-color: var(--overdue-bg);
}

input[type='checkbox'] {
	width: 28px;
	height: 28px;
	accent-color: black;
	padding: 0;
}

.ListItem button {
	background-color: var(--color-contrast);
	vertical-align: baseline;
}
