@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sanchez&display=swap');

:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-border: hsla(220, 13%, 32%, 1);
	--color-error: var(--color-red);
	--color-text: var(--color-white);
	--color-shadow: var(--color-gray-dark);

	--contrast-hsl-vals: 18, 85%, 45%;
	--color-contrast: hsl(var(--contrast-hsl-vals));

	--shadow-hsl-vals: 18, 50%, 5%;

	/* Isaiah added delete root color vars*/
	--delete-color: hsl(0, 100%, 51%);
	--delete-hover-color: hsl(8, 90%, 67%);
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-border: hsla(220, 13%, 78%, 1);
		--color-text: var(--color-black);

		--contrast-hsl-vals: 60, 90%, 50%;
		--shadow-hsl-vals: 60, 50%, 5%;
		/* Isaiah added css for delete button*/
		--delete-color: hsl(0, 95%, 69%);
		--delete-hover-color: hsl(8, 90%, 76%);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-border: hsla(220, 13%, 78%, 1);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the screen.
 */
body {
	height: 100dvh;
}

/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: Sanchez, serif;
	font-size: 1.8rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: Pacifico;
	font-size: 5rem;
}

code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-accent);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family:
		Menlo,
		Consolas,
		Monaco,
		Liberation Mono,
		Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}

label:hover,
button:hover,
input[type='checkbox']:hover select:hover {
	cursor: pointer;
}

select:hover {
	cursor: pointer !important;
}

button {
	vertical-align: baseline;
	border-radius: 4rem;
	font-size: 1.2em;
	padding: 0.5rem 1rem;
	/* setting the border to 0 and setting the border again removes the default bevel on the border outline */
	border: 0;
	border: 2px solid var(--color-text);
	border-color: var(--color-text);
	font-family: Sanchez;
}

button:hover {
	background-color: var(--color-contrast);
}

.button-primary {
	background-color: var(--color-contrast);
	margin-top: 3rem;
}

.button-primary:hover {
	background-color: var(--color-bg);
}

p {
	margin: 0;
}

input,
select {
	padding: 0.4rem;
	font-size: 1em;
}
body {
	background-image: url('/lemons-blk.png');
	@media screen and (prefers-color-scheme: light) {
		background-image: url('/lemons-wht.png');
	}

	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; /* Optional: Keep the background fixed */
	background-position: center center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
}
